* {
  margin: 0px;
  padding: 0px;
}
.mainDiv {
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
}
.homepage {
  background-image: url("/assets/backround2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 60px;
}

/* navbar started */
.navMain {
}
.navContant {
  border-radius: 36px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  /* opacity: 0.071; */
  padding: 0px 30px;
  background-color: #1a1a1a;
}
.navItem p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: "Montserrat";
  padding: 22px 0px;
}
.brandLogo img {
  height: 60px;
  margin-right: 30px;
  position: relative;
  top: 5px;
}
/* navbar ended */
.homeMain {
  margin-top: 80px;
}
.homeMain h3 {
  font-size: 32px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.mierideLogo img {
  height: 60px;
  margin: 25px 0px;
}
.homeContent {
  margin-top: 30px !important;
}
.homeContent p {
  padding: 50px 50px 0px 0px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: justify;
}
.homeContent button {
  width: 300px;
  height: 55px;
  border-radius: 25px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #ceff13;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  border: none;
  font-family: "Montserrat";
}
.socialMediaDiv img {
  margin-bottom: 20px;
  height: 20px;
  width: 20px;
}
.socialMediaDiv {
  display: flex;
  flex-direction: column;
}
.homeCardBox {
  margin: 40px 0px;
  border: 1px solid whitesmoke;
  border-top: none;
  padding: 40px 20px;
  border-radius: 24px;
}
.homeCardBox h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: #cfff13;
  font-weight: 400;
  font-family: "Anton";
}
.homeCardBox p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  margin: 20px 0px;
}
.homeCardBox button {
  width: 110px;
  height: 35px;
  border-radius: 22px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #ceff13;
  border: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}
.blogsMain {
  margin-top: 60px;
}
.blogsMain h3 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #cfff13;
  font-weight: 700;
  font-family: "Montserrat";
}
.blogsMain p {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 30px 0px;
}
.blogsMain span {
  font-size: 21px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
}
.blogsMain button {
  margin-top: 30px;
  width: 290px;
  border-radius: 36px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #cfff13;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  height: 50px;
}
.aboutHeroImg img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.categoryItem {
  border-radius: 32px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #454547;
  margin-right: 30px;
}
.categoryItem p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 10px 30px;
  margin: 0px;
}
.activeItem {
  background-color: #ceff13 !important;
}
.activeItem p {
  color: #000 !important;
}
.blogCart {
  border: 1px solid gray;
  margin-bottom: 20px;
}
.blogCart img {
  width: 100%;
  height: 220px;
}
.blogCart p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0px !important;
}
.blogCart span {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
}
.contactHeaderRow {
  margin: 60px 0px !important;
}
.contactHeaderRow h5 {
  font-size: 35px;
  letter-spacing: 0px;
  color: #cfff13;
  font-weight: 800;
  font-family: "Montserrat";
}
.contactHeaderRow h3 {
  font-size: 70px;
  letter-spacing: 0px;
  color: #e4e4e6;
  font-weight: 200;
  font-family: "Montserrat";
}
.contactBox {
  padding: 25px;
  border-radius: 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactBox img {
  height: 40px;
  filter: brightness(0) invert(1);
}
.contactBox p {
  text-align: center;
  color: #e4e4e6;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
}
.contactBox h4 {
  text-align: center;
  color: #ceff13;
  margin-top: -5px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.contactForm {
  padding: 40px 70px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
}
.contactForm input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Montserrat";
}
.contactForm button {
  margin: 30px 0px;
  width: 290px;
  border-radius: 12px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #cfff13;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  height: 50px;
}
.contactMessageDiv {
  width: 500px;
}
.contactMessageDiv h5 {
  color: #ceff13;
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Montserrat";
}
.contactMessageDiv h3 {
  color: #fff;
  margin: 20px 0px;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Montserrat";
}
.contactMessageDiv p {
  color: #fff;
  font-size: 20px;

  font-family: "Montserrat";
  font-weight: 300;
}
.miePaybutton {
  background-color: #ffd300;
  text-align: center;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
}
.robot {
  margin-top: 30px;
  background-color: #333437;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.robot img {
  height: 50px;
}
